In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("new_cases.csv")

In [12]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [9]:
df = df[["iso_code", "location", "continent", "date", "new_cases", "new_tests", "new_vaccinations", "population", "gdp_per_capita", "new_cases_per_million"]]

In [11]:
df

,iso_code,location,continent,date,new_cases,new_tests,new_vaccinations,population,gdp_per_capita
0,AFG,Afghanistan,Asia,2020-01-03,0.0,NaN,NaN,41128772.0,1803.987
1,AFG,Afghanistan,Asia,2020-01-04,0.0,NaN,NaN,41128772.0,1803.987
2,AFG,Afghanistan,Asia,2020-01-05,0.0,NaN,NaN,41128772.0,1803.987
3,AFG,Afghanistan,Asia,2020-01-06,0.0,NaN,NaN,41128772.0,1803.987
4,AFG,Afghanistan,Asia,2020-01-07,0.0,NaN,NaN,41128772.0,1803.987
...,...,...,...,...,...,...,...,...,...
293564,ZWE,Zimbabwe,Africa,2023-03-03,0.0,NaN,NaN,16320539.0,1899.775
293565,ZWE,Zimbabwe,Africa,2023-03-04,0.0,NaN,NaN,16320539.0,1899.775
293566,ZWE,Zimbabwe,Africa,2023-03-05,0.0,NaN,NaN,16320539.0,1899.775
293567,ZWE,Zimbabwe,Africa,2023-03-06,0.0,NaN,NaN,16320539.0,1899.775
293568,ZWE,Zimbabwe,Africa,2023-03-07,0.0,NaN,NaN,16320539.0,1899.775

In [13]:
df.to_csv("filtered_cases.csv")